html
  head
    title= title

  body
    h1= message
    img(src='image.jpeg', alt='', style='width: 300px; height: auto;')

    //- Input field and send button
    form#todo-form(action='?', method='POST')
      input#todo-input(type='text', name="title" maxlength='140', required, placeholder='Enter your todo')
      button(type='submit') Send

    //- List of todos with checkboxes to toggle completion
    ul
      each todo in todos
        li
          form(action=`/${todo.id}?_method=PUT`, method="POST", style="display: inline")
            input(type="checkbox", name="completed", checked=todo.completed, onchange="this.form.submit()")
          span(style=todo.completed ? 'text-decoration: line-through;' : '')= todo.title



